---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gateway
  namespace: istio-system
spec:
  interval: 15m
  chart:
    spec:
      chart: gateway
      version: 1.25.0
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    replicaCount: 2
    service:
      type: LoadBalancer
      annotations:
        lbipam.cilium.io/ips: 10.0.42.5
    autoscaling:
      enabled: false
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: istio
              operator: In
              values:
                - gateway
          topologyKey: kubernetes.io/hostname
    # If specified, the gateway will act as a network gateway for the given network.
    networkGateway: ""
