---
apiVersion: v1
kind: Pod
metadata:
  name: &app kopia
  labels:
    name: *app
spec:
  containers:
    - name: *app
      image: docker.io/kopia/kopia:0.12.1
      command:
        - server
        - --insecure
        - --address
        - 0.0.0.0:51515
        - --override-hostname
        - "osiris.{{ SECRET_PRIVATE_DOMAIN }}"
        - --override-username
        - twitlin
        - --without-password
      resources:
        limits:
          memory: "128Mi"
          cpu: "500m"
      ports:
        - containerPort: 51515
      env:
        - name: KOPIA_PASSWORD
          value: "{{ SECRET_KOPIA_PASSWORD }}"
      volumeMounts:
        - name: config
          mountPath: /app/config
        - name: cache
          mountPath: /app/cache
        - name: logs
          mountPath: /app/logs
        - name: pluto
          mountPath: /pluto
  volumes:
    - name: config
      path: "{{ docker_base_dir }}/kopia/config"
    - name: cache
      path: "{{ docker_base_dir }}/kopia/cache"
    - name: logs
      path: "{{ docker_base_dir }}/kopia/logs"
    - name: pluto
      path: "/pluto"
