---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app goldilocks
spec:
  interval: 15m
  chart:
    spec:
      chart: *app
      version: 9.0.2
      sourceRef:
        kind: HelmRepository
        name: fairwinds
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    vpa:
      enabled: true
      updater:
        enabled: false
    metrics-server:
      enabled: false
    controller:
      enabled: true
    dashboard:
      ingress:
        enabled: true
        ingressClassName: tailscale
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          # kubernetes.io/ingress.class: nginx
          # kubernetes.io/tls-acme: "true"
        hosts:
          - host: &host goldilocks.${SECRET_PUBLIC_DOMAIN}
            paths:
              - path: /
                type: ImplementationSpecific
        tls:
          - secretName: "goldilocks-tls"
            hosts: [*host]
