---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbtools
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: qbittorrent
      namespace: media
  values:
    controllers:
      tagging:
        type: cronjob
        cronjob: &cronJobSpec
          schedule: "@hourly"
          timeZone: &timeZone America/New_York
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        initContainers:
          tagging:
            image: &image
              repository: ghcr.io/buroa/qbtools
              tag: v0.19.15@sha256:4145020bab12b2ed892f548c2812c4979793def80dce5f907e49640329e54933
            env: &env
              TZ: *timeZone
            args: [
              "tagging",
              "--added-on",
              "--expired",
              "--last-activity",
              "--sites",
              "--unregistered",
              "--server", "qbittorrent.media.svc.cluster.local",
              "--port", "80",
              "--config", "/config/config.yaml"
            ]
            resources: &resources
              requests:
                cpu: 25m
              limits:
                memory: 256M
        containers:
          unregistered:
            image: *image
            env: *env
            args: [
              "prune",
              "--exclude-category", "manual",
              "--exclude-category", "music",
              "--exclude-category", "music.import",
              "--include-tag", "unregistered",
              # "--dry-run",
              "--server", "qbittorrent.media.svc.cluster.local",
              "--port", "80"
            ]
            resources: *resources
          expired:
            image: *image
            env: *env
            args: [
              "prune",
              "--exclude-category", "manual",
              "--exclude-category", "music",
              "--exclude-category", "music.import",
              "--exclude-category", "overlord",
              "--include-tag", "expired", # defined in config.yaml
              "--include-tag", "added:7d",
              # "--dry-run",
              "--server", "qbittorrent.media.svc.cluster.local",
              "--port", "80"
            ]
            resources: *resources
        pod:
          restartPolicy: OnFailure
          securityContext: &securityContext
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
      orphaned:
        type: cronjob
        cronjob:
          <<: *cronJobSpec
          schedule: "@daily"
        containers:
          app:
            image: *image
            env: *env
            args: [
              "orphaned",
              "--exclude-pattern", "*_unpackerred*",
              "--exclude-pattern", "*/manual/*",
              "--exclude-pattern", "*/music.import/*",
              # "--dry-run",
              "--server", "qbittorrent.media.svc.cluster.local",
              "--port", "80"
            ]
            resources: *resources
        pod:
          restartPolicy: OnFailure
          securityContext: *securityContext
      reannounce:
        containers:
          app:
            image: *image
            env: *env
            args: [
              "reannounce",
              "--process-seeding",
              "--server", "qbittorrent.media.svc.cluster.local",
              "--port", "80"
            ]
            resources: *resources
        pod:
          securityContext: *securityContext
    persistence:
      secret-file:
        type: secret
        name: qbtools-secret
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
      media:
        type: nfs
        server: osiris.286k.co
        path: /pluto/media
        advancedMounts:
          orphaned:
            app:
              - path: /media
