---
# yaml-language-server: $schema=https://kubernetes-schemas.witl.xyz/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-csi-driver-nfs
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  path: ./kubernetes/apps/storage/csi-driver-nfs/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: csi-driver-nfs
      namespace: storage
  interval: 30m
  retryInterval: 1m
  timeout: 3m
