---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: smtp-relay
spec:
  secretName: "smtp-relaytls"
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "smtp-relay.${SECRET_PUBLIC_DOMAIN}"
  dnsNames:
    - "smtp-relay.${SECRET_PUBLIC_DOMAIN}"
    - "smtp-relay"
    - "smtp-relay.auth"
    - "smtp-relay.auth.svc"
    - "smtp-relay.auth.svc.cluster"
    - "smtp-relay.auth.svc.cluster.local"
