{
  "storage": {
    "type": "b2",
    "config": {
      "bucket": "osiris-83359a",
      "keyID": "{{ .b2_app_key_id }}",
      "key": "{{ .b2_app_key }}"
    }
  },
  "caching": {
    "cacheDirectory": "/app/cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "osiris.286k.co",
  "username": "twitlin",
  "description": "osiris",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
