---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app cilium
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: *app
      version: 1.13.1
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    securityContext:
      privileged: true
    autoDirectNodeRoutes: true
    cluster:
      id: 1
      name: home
    bgp:
      enabled: true
      announce:
        loadbalancerIP: true
        podCIDR: true
    bpf:
      lbExternalClusterIP: true
    containerRuntime:
      integration: containerd
    endpointRoutes:
      enabled: true
    hubble:
      enabled: true
      metrics:
        enabled:
          - dns:query;ignoreAAAA
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
        serviceMonitor:
          enabled: true
      tls:
        enabled: true
        auto:
          enabled: true
          method: helm
      relay:
        enabled: true
        rollOutPods: true
        replicas: 2
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      ui:
        enabled: true
        rollOutPods: true
        replicas: 2
        ingress:
          enabled: true
          annotations:
            # kubernetes.io/tls-acme: "true"
            cert-manager.io/cluster-issuer: letsencrypt-production
          className: "nginx"
          hosts:
            - &host hubble.${SECRET_PUBLIC_DOMAIN}
          tls:
            - secretName: hubble-tls
              hosts:
                - *host
    rollOutCiliumPods: true
    annotateK8sNode: true
    enableCiliumEndpointSlice: true
    externalIPs: true
    ipam:
      mode: kubernetes
    ipv4NativeRoutingCIDR: "10.42.0.0/16"
    #ipv6NativeRoutingCIDR: "fd00:42::/64"
    monitor:
      enabled: true
    prometheus:
      enabled: true
    tunnel: "disabled"
    operator:
      enabled: true
      rollOutPods: true
      replicas: 2
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
    loadBalancer:
      algorithm: maglev
      mode: dsr
    localRedirectPolicy: true
    ipv6:
      # -- Enable IPv6 support.
      enabled: false
    #enableIPv6BIGTCP: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    k8sServiceHost: 10.10.254.3
    k8sServicePort: 6443
    kubeProxyReplacement: strict
