---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: unpackerr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/onedr0p/unpackerr
      tag: 0.11.2@sha256:668f789d8c912950f5419e40b089a04eae7d526467146cb02b2473a31e2af0bf
    env:
      TZ: America/New_York
      UN_SONARR_0_URL: http://sonarr.media.svc.cluster.local
      UN_SONARR_0_PATHS_0: /complete/sonarr
      UN_SONARR_0_API_KEY:
        valueFrom:
          secretKeyRef:
            name: sonarr-secret
            key: SONARR__API_KEY
      UN_RADARR_0_URL: http://radarr.media.svc.cluster.local
      UN_RADARR_0_PATHS_0: /complete/radarr
      UN_RADARR_0_API_KEY:
        valueFrom:
          secretKeyRef:
            name: radarr-secret
            key: RADARR__API_KEY
    service:
      main:
        enabled: false
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: [10000]
    podAnnotations:
      secret.reloader.stakater.com/reload: |-
        radarr-secret,sonarr-secret
    persistence:
      complete:
        enabled: true
        type: nfs
        server: "osiris.${SECRET_PRIVATE_DOMAIN}"
        path: /pluto/media/downloads/complete
        mountPath: /complete
    resources:
      requests:
        cpu: 10m
        memory: 250Mi
      limits:
        memory: 2000Mi
