---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kepler
  namespace: kepler-system
spec:
  interval: 30m
  chart:
    spec:
      chart: kepler
      version: 0.6.0
      sourceRef:
        kind: HelmRepository
        name: kepler
        namespace: flux-system
  maxHistory: 2
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # -- Extra environment variables
    extraEnvVars:
      # REDFISH_PROBE_INTERVAL_IN_SECONDS: "60"
      REDFISH_SKIP_SSL_VERIFY: "true"
    canMount:
      usrSrc: true  # /usr/src may not available, ie GKE
    serviceMonitor:
      enabled: true
    redfish:
      enabled: false
      name: redfish
      fileContent: |-
        your_kubelet_node1_name,redfish_username,redfish_password,https://node1_redfish_ip_or_hostname
        your_kubelet_node2_name,redfish_username,redfish_password,https://node2_redfish_ip_or_hostname
