---
apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-global-config
  namespace: monitoring
data:
  config: |
    global:
      resolve_timeout: 5m
    route:
      receiver: "null"
    receivers:
    - name: "null"
