---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-monitoring
spec:
  chartRef:
    kind: OCIRepository
    name: k8s-monitoring
  interval: 1h
  values:
    cluster:
      name: "kyak"
    destinations:
      # - name: prometheus
      #   type: prometheus
      #   url: http://prometheus-operated.monitoring.svc.cluster.local:9090
      - name: loki
        type: loki
        url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
      - name: mimir
        type: otlp
        url: https://mimir.cloud.witl.xyz/otlp
        protocol: http
        metrics: { enabled: true }
        logs:    { enabled: false }
        traces:  { enabled: true }
        auth:
          type: oauth2
          oauth2:
            tokenURL: "https://sso-3da0e7d4.sso.duosecurity.com/oauth/DIV21P82KMG9NOTNQW6J/token"
            clientIdFile: /var/run/secrets/mimir-oauth/client_id
            clientSecretFile: /var/run/secrets/mimir-oauth/client_secret
            scopes:
              - mimir:write
            endpointParams:
              grant_type: ["client_credentials"]
              client_assertion_type: ["urn:ietf:params:oauth:client-assertion-type:jwt-bearer"]
    #
    # Features
    #
    clusterMetrics:
      enabled: true
      nodeLabels:
        nodePool: true
        region: true
        availabilityZone: true
        nodeRole: true
        os: true
        architecture: true
        instanceType: true
      kepler:
        enabled: true
    clusterEvents:
      enabled: true
    nodeLogs:
      enabled: false
    podLogsViaKubernetesApi:
      enabled: true
      nodeLabels:
        nodepool: true
        region: true
        availability_zone: true
        node_role: true
        os: true
        architecture: true
        instance_type: true
      structuredMetadata:
        node_pool: nodepool
        region:
        availability_zone:
        node_role:
        node_os: os
        node_arch: architecture
        node_type: instance_type
    applicationObservability:
      enabled: false
      receivers:
        otlp:
          grpc:
            enabled: true
            port: 4317
          http:
            enabled: true
            port: 4318
        zipkin:
          enabled: true
          port: 9411
    autoInstrumentation:
      enabled: false
    annotationAutodiscovery:
      nodeLabels:
        nodePool: true
        region: true
        availabilityZone: true
        nodeRole: true
        os: true
        architecture: true
        instanceType: true
      enabled: true
    prometheusOperatorObjects:
      enabled: true
    profiling:
      enabled: false
    integrations:
      cert-manager:
        instances:
          - name: cert-manager
            namespace: cert-manager
            labelSelectors:
              app.kubernetes.io/name: cert-manager
      alloy:
        instances:
          - name: alloy
            labelSelectors:
              app.kubernetes.io/name:
                - alloy-metrics
                - alloy-singleton
                - alloy-logs
                - alloy-receiver
                - alloy-profiles
    selfReporting:
      enabled: false
      destinations: []
      scrapeInterval: ""
    alloy-metrics:
      enabled: true
      alloy:
        storagePath: /var/lib/alloy
        mounts:
          extra:
            - name: alloy-wal
              mountPath: /var/lib/alloy
            - name: mimir-oauth
              mountPath: /var/run/secrets/mimir-oauth
              readOnly: true
      controller:
        enableStatefulSetAutoDeletePVC: true
        volumeClaimTemplates:
          - metadata:
              name: alloy-wal
            spec:
              accessModes: ["ReadWriteOnce"]
              storageClassName: "ceph-block"
              resources:
                requests:
                  storage: 5Gi
        volumes:
          extra:
            - name: mimir-oauth
              secret:
                secretName: mimir-write-oauth
    alloy-singleton:
      enabled: true
    alloy-logs:
      enabled: true
      alloy:
        clustering:
          enabled: true
        storagePath: /var/lib/alloy
        mounts:
          extra:
            - name: alloy-log-positions
              mountPath: /var/lib/alloy
      controller:
        volumes:
          extra:
            - name: alloy-log-positions
              hostPath:
                path: /var/alloy-log-storage
                type: DirectoryOrCreate
    alloy-receiver:
      enabled: false
      alloy:
        extraPorts:
          - name: otlp-grpc
            port: 4317
            targetPort: 4317
            protocol: TCP
          - name: otlp-http
            port: 4318
            targetPort: 4318
            protocol: TCP
          - name: zipkin
            port: 9411
            targetPort: 9411
            protocol: TCP
    alloy-profiles:
      enabled: false
