---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: s3-secrets
spec:
  provider:
    kubernetes:
      remoteNamespace: rook-ceph
      server:
        caProvider:
          type: "ConfigMap"
          name: "kube-root-ca.crt"
          namespace: rook-ceph
          key: "ca.crt"
      auth:
        serviceAccount:
          name: external-secrets-s3
          namespace: rook-ceph
