talosconfig
home-cluster-k8s-0.yaml
home-cluster-k8s-1.yaml
home-cluster-k8s-2.yaml
home-cluster-k8s-3.yaml
home-cluster-k8s-4.yaml
home-cluster-k8s-5.yaml
home-cluster-k8s-6.yaml
home-cluster-k8s-7.yaml
home-cluster-k8s-8.yaml
home-cluster-k8s-9.yaml
kyak-k8s-0.yaml
kyak-k8s-1.yaml
kyak-k8s-2.yaml
kyak-k8s-3.yaml
kyak-k8s-4.yaml
kyak-k8s-5.yaml
kyak-k8s-6.yaml
kyak-k8s-7.yaml
kyak-k8s-8.yaml
kyak-k8s-9.yaml
