defaults
auth off
tls  off
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile /var/log/msmtp

account        maddy
host           smtp-relay.286k.co
port           587
from           osiris@286k.co
tls_starttls   off

account default: maddy

aliases /etc/aliases
