---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: kyak
# renovate: datasource=github-releases depName=siderolabs/talos
talosVersion: v1.11.5
# renovate: datasource=github-releases depName=kubernetes/kubernetes
kubernetesVersion: v1.35.0
additionalApiServerCertSans: &san
  - 10.10.10.201
  - k8s-lb.286k.co
  - 127.0.0.1
additionalMachineCertSans: *san
endpoint: https://k8s-lb.286k.co:6443
domain: cluster.local
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
cniConfig:
  name: none
nodes:
  - hostname: k8s-0
    ipAddress: 10.10.10.20
    controlPlane: true
    installDisk: /dev/disk/by-id/ata-CT240BX500SSD1_2206E60A4A88
    networkInterfaces:
      - interface: enp1s0
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.10.10.201
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/binfmt-misc
            - siderolabs/fuse3
            - siderolabs/glibc
            - siderolabs/i915 # Intel iGPU
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
            - siderolabs/util-linux-tools

  - hostname: k8s-1
    ipAddress: 10.10.10.21
    controlPlane: true
    installDisk: /dev/disk/by-id/ata-CT240BX500SSD1_2148E5EA7AA5
    networkInterfaces:
      - interface: enp1s0
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.10.10.201
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/binfmt-misc
            - siderolabs/fuse3
            - siderolabs/glibc
            - siderolabs/intel-ice-firmware
            - siderolabs/i915 # Intel iGPU
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
            - siderolabs/util-linux-tools

  - hostname: k8s-2
    ipAddress: 10.10.10.22
    controlPlane: true
    installDisk: /dev/disk/by-id/ata-WD_easystore_240GB_20215C802161
    networkInterfaces:
      - interface: enp1s0
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.10.10.201
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/binfmt-misc
            - siderolabs/fuse3
            - siderolabs/glibc
            - siderolabs/i915 # Intel iGPU
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
            - siderolabs/util-linux-tools

  - hostname: k8s-3
    ipAddress: 10.10.10.23
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-WD_Blue_SN570_250GB_223960805185
    networkInterfaces:
      - interface: eno1
        mtu: 1500
        dhcp: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/binfmt-misc
            - siderolabs/fuse3
            - siderolabs/glibc
            - siderolabs/i915 # Intel iGPU
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
            - siderolabs/util-linux-tools

  - hostname: k8s-4
    ipAddress: 10.10.10.24
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-WD_Blue_SN570_250GB_223960805195
    networkInterfaces:
      - interface: eno1
        mtu: 1500
        dhcp: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/binfmt-misc
            - siderolabs/fuse3
            - siderolabs/glibc
            - siderolabs/i915 # Intel iGPU
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
            - siderolabs/util-linux-tools

  - hostname: k8s-5
    ipAddress: 10.10.10.25
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-SAMSUNG_MZVLB512HAJQ-000L7_S3TNNE0JC71391
    networkInterfaces:
      - interface: enp0s31f6
        mtu: 1500
        dhcp: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/binfmt-misc
            - siderolabs/fuse3
            - siderolabs/glibc
            - siderolabs/i915 # Intel iGPU
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
            - siderolabs/util-linux-tools

  - hostname: k8s-6
    ipAddress: 10.10.10.26
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-SAMSUNG_MZVLB512HAJQ-000L7_S3TNNE0JC70877
    networkInterfaces:
      - interface: enp0s31f6
        mtu: 1500
        dhcp: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/binfmt-misc
            - siderolabs/fuse3
            - siderolabs/glibc
            - siderolabs/i915 # Intel iGPU
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
            - siderolabs/util-linux-tools

  - hostname: k8s-7
    ipAddress: 10.10.10.27
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-WDC_PC_SN730_SDBQNTY-256G-1001_2017B6801388
    networkInterfaces:
      - interface: enp0s31f6
        mtu: 1500
        dhcp: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
              - siderolabs/amd-ucode
              - siderolabs/amdgpu
              - siderolabs/binfmt-misc
              - siderolabs/fuse3
              - siderolabs/glibc


  - hostname: k8s-8
    ipAddress: 10.10.10.28
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-SAMSUNG_MZVLB256HBHQ-000L7_S4ELNX4N714860
    networkInterfaces:
      - interface: enp0s31f6
        mtu: 1500
        dhcp: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
              - siderolabs/amd-ucode
              - siderolabs/amdgpu
              - siderolabs/binfmt-misc
              - siderolabs/fuse3
              - siderolabs/glibc


  - hostname: k8s-9
    ipAddress: 10.10.10.29
    controlPlane: false
    installDisk: /dev/disk/by-id/ata-HRAA2S0512ZILM2_6G000SJA
    networkInterfaces:
      - interface: eno1
        mtu: 1500
        dhcp: true
      - interface: eno2
        mtu: 1500
        dhcp: false
      - interface: enp55s0f0
        mtu: 1500
        dhcp: false
      - interface: enp55s0f1
        mtu: 1500
        dhcp: false
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
              - siderolabs/binfmt-misc
              - siderolabs/fuse3
              - siderolabs/glibc
              - siderolabs/intel-ucode

controlPlane:
  patches:
    - |-
      - op: add
        path: /cluster/coreDNS
        value:
          disabled: true
    - |-
      - op: add
        path: /machine/kubelet/nodeIP
        value:
          validSubnets:
            - 10.10.10.0/24
    - &diskEncryption |-
      - op: add
        path: /machine/systemDiskEncryption
        value:
          ephemeral:
            provider: luks2
            keys:
              - nodeID: {}
                slot: 0
          state:
            provider: luks2
            keys:
              - nodeID: {}
                slot: 0
    - |-
      - op: add
        path: /machine/kubelet/extraArgs
        value:
          feature-gates: GracefulNodeShutdown=true,KubeletTracing=true,MutatingAdmissionPolicy=true
          rotate-server-certificates: "true"
    - |-
      - op: add
        path: /cluster/apiServer/extraArgs
        value:
          tls-cipher-suites: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
          runtime-config: admissionregistration.k8s.io/v1beta1=true
          enable-aggregator-routing: "true"
          enable-admission-plugins: NodeRestriction,ValidatingAdmissionPolicy
          feature-gates: MutatingAdmissionPolicy=true
    - |-
      - op: add
        path: /cluster/controllerManager/extraArgs
        value:
          bind-address: 0.0.0.0
    - |-
      - op: add
        path: /cluster/scheduler/extraArgs
        value:
          bind-address: 0.0.0.0
    - |-
      - op: add
        path: /cluster/discovery/registries/service/disabled
        value: false
    - |-
      - op: add
        path: /cluster/proxy/disabled
        value: true
    - |-
      - op: add
        path: /cluster/etcd/extraArgs
        value:
          listen-metrics-urls: http://0.0.0.0:2381
          metrics: extensive
    - |-
      - op: add
        path: /cluster/etcd/advertisedSubnets
        value:
          - 10.10.10.0/24
    - |-
      - op: add
        path: /machine/features
        value:
          stableHostname: true
          diskQuotaSupport: true
          rbac: true
          kubePrism:
            enabled: true
            port: 7445
    - |-
      - op: add
        path: /machine/files
        value:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
              [plugins."io.containerd.cri.v1.runtime"]
                cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
                device_ownership_from_security_context = true
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              nconnect=16
              noatime=True
    - |-
      - op: add
        path: /machine/features
        value:
          rbac: true
          stableHostname: true
          apidCheckExtKeyUsage: true
          diskQuotaSupport: true
          kubePrism:
              enabled: true
              port: 7445
          hostDNS:
              enabled: true
              resolveMemberNames: true
              forwardKubeDNSToHost: false
          kubernetesTalosAPIAccess:
            allowedKubernetesNamespaces:
              - actions-runner-system
              - system-upgrade
            allowedRoles:
              - os:admin
            enabled: true
    - |-
      - op: add
        path: /machine/kubelet/extraArgs
        value:
          feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
          rotate-server-certificates: "true"
    - |-
      - op: add
        path: /machine/sysctls
        value:
          fs.inotify.max_user_watches: "1048576"
          fs.inotify.max_user_instances: "8192"
          vm.panic_on_oom: "0"
          vm.overcommit_memory: "1"
          kernel.panic: "10"
          kernel.panic_on_oops: "1"
          net.core.rmem_max: "7500000"
          net.core.wmem_max: "7500000"
    - &time |-
      - op: add
        path: /machine/time
        value:
          disabled: false
          servers:
            - time.cloudflare.com
    - |-
      - op: add
        path: /machine/udev
        value:
          rules:
            - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

worker:
  patches:
    - |-
      - op: add
        path: /machine/kubelet/nodeIP
        value:
          validSubnets:
            - 10.10.10.0/24
    - |-
      - op: add
        path: /machine/kubelet/extraArgs
        value:
          feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
    - |-
      - op: add
        path: /machine/kubelet/extraMounts
        value:
          - destination: /var/openebs/local
            type: bind
            source: /var/openebs/local
            options:
              - bind
              - rshared
              - rw
    - *diskEncryption
    - |-
      - op: add
        path: /machine/features
        value:
          apidCheckExtKeyUsage: true
          diskQuotaSupport: true
          hostDNS:
            enabled: true
            forwardKubeDNSToHost: false
            resolveMemberNames: true
          kubePrism:
            enabled: true
            port: 7445
          rbac: true
          stableHostname: true
    - |-
      - op: add
        path: /machine/files
        value:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
              [plugins."io.containerd.cri.v1.runtime"]
                cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
                device_ownership_from_security_context = true
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              nconnect=16
              noatime=True
    - |-
      - op: add
        path: /machine/sysctls
        value:
          fs.inotify.max_user_instances: "8192"
          fs.inotify.max_user_watches: "1048576"
          net.core.default_qdisc: fq
          net.core.rmem_max: "67108864"
          net.core.wmem_max: "67108864"
          net.ipv4.neigh.default.gc_thresh1: "4096"
          net.ipv4.neigh.default.gc_thresh2: "8192"
          net.ipv4.neigh.default.gc_thresh3: "16384"
          net.ipv4.tcp_congestion_control: bbr
          net.ipv4.tcp_fastopen: "3"
          net.ipv4.tcp_mtu_probing: "1"
          net.ipv4.tcp_rmem: 4096 87380 33554432
          net.ipv4.tcp_window_scaling: "1"
          net.ipv4.tcp_wmem: 4096 65536 33554432
          sunrpc.tcp_max_slot_table_entries: "128"
          sunrpc.tcp_slot_table_entries: "128"
          user.max_user_namespaces: "11255"
          vm.nr_hugepages: "1024"
    - *time
    - |-
      - op: add
        path: /machine/udev
        value:
          rules:
            - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
