---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: wastebin
  namespace: tools
spec:
  values:
    initContainers:
      init-db:
        image: ghcr.io/onedr0p/postgres-initdb:14.8
        env:
          - name: POSTGRES_HOST
            value: postgres-rw.database.svc.cluster.local
          - name: POSTGRES_DB
            value: wastebin
          - name: POSTGRES_SUPER_PASS
            valueFrom:
              secretKeyRef:
                name: postgres-superuser
                key: password
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: wastebin
                key: WASTEBIN_DB_USERNAME
          - name: POSTGRES_PASS
            valueFrom:
              secretKeyRef:
                name: wastebin
                key: WASTEBIN_DB_PASSWORD
