---
session:
  redis:
    high_availability:
      sentinel_name: redis-master
      nodes:
        - host: redis-node-0.redis-headless.database.svc.cluster.local
          port: 26379
        - host: redis-node-1.redis-headless.database.svc.cluster.local
          port: 26379
        - host: redis-node-2.redis-headless.database.svc.cluster.local
          port: 26379

access_control:
  default_policy: two_factor
  networks:
    - name: internal
      networks: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
  rules:
    - domain: ["wizarr.witl.xyz"]
      resources: ["^/join.*$", "^/j/.*$", "^/setup.*$", "^/static/.*$"]
      policy: bypass

identity_providers:
  oidc:
    cors:
      endpoints: ["authorization", "token", "revocation", "introspection"]
      allowed_origins_from_client_redirect_uris: true
    clients:
      - id: grafana
        description: Grafana
        secret: "${GRAFANA_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ["https://grafana.witl.xyz/login/generic_oauth"]
        userinfo_signing_algorithm: none
      - id: immich
        description: Immich
        secret: "${IMMICH_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "email"]
        redirect_uris: ["https://photos.witl.xyz/auth/login", "app.immich:/"]
        userinfo_signing_algorithm: none
      - id: weave-gitops
        description: Weave GitOps
        secret: "${WEAVEGITOPS_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ["https://gitops.witl.xyz/oauth2/callback"]
        userinfo_signing_algorithm: none
      # - id: gitea
      #   secret: "${GITEA_OAUTH_CLIENT_SECRET}"
      #   public: false
      #   authorization_policy: two_factor
      #   scopes: ["openid", "profile", "groups", "email"]
      #   redirect_uris: ["https://gitea.witl.xyz/user/oauth2/authelia/callback"]
      #   userinfo_signing_algorithm: none
