---
- name: Create vector directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: users
    mode: 0775
  loop:
    - "{{ podman_base_dir }}/vector"
    - "{{ podman_base_dir }}/vector/config"
    - "{{ podman_base_dir }}/vector/data"

# Disable running container if it is already running in systemd
- name: Disable vector container
  ansible.builtin.systemd:
    name: container-vector.service
    state: stopped
    enabled: false

- name: Deploy Vector
  block:
    - name: Create vector config
      ansible.builtin.template:
        src: vector/vector.yaml.j2
        dest: "{{ podman_base_dir }}/vector/config/vector.yaml"
        owner: "{{ ansible_user }}"
        group: users
        mode: 0775

    - name: Create vector container
      containers.podman.podman_container:
        name: vector
        recreate: true
        privileged: true
        state: started
        image: docker.io/timberio/vector:0.29.1-debian
        restart_policy: unless-stopped
        network_mode: host
        command:
          - --config=/etc/vector/vector.yaml
        volumes:
          - "{{ podman_base_dir }}/vector/config/vector.yaml:/etc/vector/vector.yaml:ro"
          - "{{ podman_base_dir }}/vector/data:/vector-data-dir"
          - /var/log:/var/log:ro
        generate_systemd:
          path: /etc/systemd/system
          restart_policy: always
          names: true
          new: true

    - name: Enable vector container
      ansible.builtin.systemd:
        name: container-vector.service
        state: started
        enabled: true
