---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: smb-media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Ti
  volumeName: smb-media
  storageClassName: "smb-csi"
