---
originRequest:
  originServerName: external.${SECRET_PUBLIC_DOMAIN}
ingress:
  - hostname: "${SECRET_PUBLIC_DOMAIN}"
    service: https://nginx-external-controller.networking.svc.cluster.local:443
  - hostname: "*.${SECRET_PUBLIC_DOMAIN}"
    service: https://nginx-external-controller.networking.svc.cluster.local:443
  - service: http_status:404
