---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpoller
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: kube-prometheus-stack
      namespace: monitoring
  values:
    controllers:
      unpoller:
        containers:
          app:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.14.1@sha256:9ba73b1793ef332ae9b4b719ef0fc09f231d6276bc7b721cbb47961ed7792961
            env:
              TZ: America/New_York
              UP_UNIFI_DEFAULT_ROLE: home-ops
              UP_UNIFI_DEFAULT_URL: https://10.1.237.1
              UP_PROMETHEUS_HTTP_LISTEN: 0.0.0.0:80
              UP_LOKI_DISABLE: false
              UP_LOKI_URL: http://loki-gateway.monitoring.svc.cluster.local
              UP_UNIFI_DEFAULT_SAVE_ALARMS: true
              UP_UNIFI_DEFAULT_SAVE_ANOMALIES: true
              UP_UNIFI_DEFAULT_SAVE_DPI: true
              UP_UNIFI_DEFAULT_SAVE_EVENTS: true
              UP_UNIFI_DEFAULT_SAVE_IDS: true
              UP_UNIFI_DEFAULT_SAVE_SITES: true
              UP_INFLUXDB_DISABLE: true
              UP_UNIFI_DYNAMIC: true
            envFrom:
              - secretRef:
                  name: unpoller-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: unpoller
        ports:
          http:
            port: 80
    serviceMonitor:
      app:
        serviceName: unpoller
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m # Unifi API only polls at 2m intervals
            scrapeTimeout: 10s
