---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo
spec:
  interval: 15m
  chart:
    spec:
      chart: tempo
      version: 1.23.1
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    replicas: 2
    tempo:
      reportingEnabled: false
      metricsGenerator:
        enabled: true
        remoteWriteUrl: "http://mimir-gateway.monitoring.svc:80/api/v1/push"
      storage:
        trace:
          backend: s3
          s3:
            insecure: true                                 # optional. enable if endpoint is http
    persistence:
      enabled: false
    tempoQuery:
      ingress:
        enabled: true
        ingressClassName: internal
        className: internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - &host "tempo-query.${SECRET_PUBLIC_DOMAIN}"
        tls:
          - secretName: istio-prod-cert-tls
            hosts:
              - *host
    serviceMonitor:
      enabled: true
  valuesFrom:
    - targetPath: tempo.storage.trace.s3.bucket
      kind: ConfigMap
      name: tempo-bucket
      valuesKey: BUCKET_NAME
    - targetPath: tempo.storage.trace.s3.endpoint
      kind: ConfigMap
      name: tempo-bucket
      valuesKey: BUCKET_HOST
    - targetPath: tempo.storage.trace.s3.access_key
      kind: Secret
      name: tempo-bucket
      valuesKey: AWS_ACCESS_KEY_ID
    - targetPath: tempo.storage.trace.s3.secret_key
      kind: Secret
      name: tempo-bucket
      valuesKey: AWS_SECRET_ACCESS_KEY
